// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

label.error {
    color: red!important;;
}

.router-link-active {
    border: 1px solid #fff;
}
