<template>
    <div class="my-3">
        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
            <a class="navbar-brand p3" href="#">NEWS:</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main_nav">
                <ul v-if="categories" class="navbar-nav">
                    <li  v-for="category in categories" class="nav-item dropdown">
                        <router-link v-if="!category.children_recursive.length" class="nav-link" data-toggle="dropdown" :to="{ name: 'categories.news.index', params: { categoryId: category.hashId, queryString: 'children=1' }}"><strong>{{ category.title }}</strong></router-link>
                        <a v-if="category.children_recursive.length" class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">
                            <strong>{{ category.title }}</strong>
                        </a>
                        <ul v-if="category.children_recursive.length" class="dropdown-menu">
                            <li>
                                <router-link class="dropdown-item" :to="{ name: 'categories.news.index', params: { categoryId: category.hashId }}"><strong>All</strong></router-link>
                            </li>
                            <li v-for="child in category.children_recursive"  >
                                <router-link class="dropdown-item" :to="{ name: 'categories.news.index', params: { categoryId: child.hashId }}"><strong>{{ child.title }}</strong></router-link>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div> <!-- navbar-collapse.// -->

            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="radio" name="options" value="en" id="en" autocomplete="off" v-bind:class="[ en ? 'active' : '']" :checked="en" @click="changeLocale('en')"> EN
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" value="de" id="de" autocomplete="off" v-bind:class="[ de ? 'active' : '']"  :checked="de" @click="changeLocale('de')"> DE
                </label>
            </div>
        </nav>

        <div class="container">
            <router-view/>
        </div>


    </div>
</template>

<script>
    import Cookie from './Cookie';

    export default {
        name: "App",
        mixins: [Cookie],
        data() {
            return {
                loading: false,
                categories: null,
                error: null,
                en: false,
                de: false,
            };
        },
        created: function() {
            this.toggleLocale();
            this.fetchData();
        },
        methods: {
            fetchData() {
                const vm = this;
                vm.error = vm.categories = null;
                vm.loading = true;
                axios
                    .get('/api/v1/categories')
                    .then(response => {
                        vm.loading = false;
                        vm.categories = response.data;
                    });
            },
            changeLocale(lang) {
                const vm = this;
                this.setCookie('locale', lang, 30);
                vm.toggleLocale();
            },
            toggleLocale() {
                const vm = this;
                if(this.getCookie('locale') === 'en') {
                    vm.en = true;
                    vm.de = false;
                } else if (this.getCookie('locale') === 'de') {
                    vm.en = false;
                    vm.de = true;
                }
            }

        }
    }

</script>

<style scoped>
    .navbar-nav a {
        color: white;
    }
    .navbar-nav .dropdown-menu a {
        color: gray!important;
    }
    .navbar-dark .navbar-nav .nav-link {
        color: white;
    }

    .navbar-brand {
        background-color: #2d995b;
        padding: 4px 10px;
    }

</style>
