<template>
    <div class="my-3">
        <h2 class="mt-5">List Of Articles For Category </h2>

        <div v-if="error" class="error">
            {{ error }}
        </div>

        <div v-if="news && news.length">
            <div class="card-columns">
                <div v-for="item in news" class="card my-4">
                    <!--                    <img class="card-img-top" src="..." alt="Card image cap">-->
                    <div class="card-body">
                        <h5 class="card-title">
                            <router-link :to="{ name: 'news.show', params: { externalUrl: item.external_url }}"><strong>{{ item.title }}</strong></router-link>
                        </h5>
                        <p class="card-text">{{ item.summary }}</p>
                        <p class="card-text">CATEGORY:
                            <router-link :to="{ name: 'categories.news.index', params: { categoryId: item.category.hashId,queryString: 'children=1' }}"><strong>{{ item.category.title }}</strong></router-link>
                        </p>
                        <p class="card-text"><small class="text-muted">{{ item.published_at }}</small></p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            <router-link :to="{ name: 'news.show', params: { externalUrl: item.external_url }}"><strong>Reas More</strong></router-link>
                        </small>
                    </div>
                </div>

            </div>
            <div class="pagination mt-5 container-fluid right">
                <button type="button" class="btn btn-outline-dark mx-3" :disabled="! prevPage" @click.prevent="goToPrev">Previous</button>
                {{ paginatonCount }}
                <button type="button" class="btn btn-outline-dark mx-3" :disabled="! nextPage" @click.prevent="goToNext">Next</button>
            </div>

        </div>
        <div v-else>
            No Article Found
        </div>


    </div>

</template>

<script>

    const getNews = (Id, page, callback) => {
        const params = { page, children: 1, locale: locale('locale')},
            headers = {'X-Active-Custom-Cache': 1},
            config = {
                headers: headers,
                params: params
            };

        axios
            .get('/api/v1/categories/' + Id+ '/news', config)
            .then(response => {
                callback(null, response.data);
            }).catch(error => {
                callback(error, error.response.data);
            });
    }, locale = (name) => {
        let cookieArr = document.cookie.split(";");
        for(let i = 0; i < cookieArr.length; i++) {
            let cookiePair = cookieArr[i].split("=");
            if(name === cookiePair[0].trim()) {
                return decodeURIComponent(cookiePair[1]);
            }
        }
        return null
    };

    export default {
        name: "CategoryNewsIndex",
        data() {
            return {
                news: null,
                meta: null,
                error: null,
            };
        },
        computed: {
            nextPage() {
                if (! this.meta || this.meta.current_page === this.meta.last_page) {
                    return;
                }

                return this.meta.current_page + 1;
            },
            prevPage() {
                if (! this.meta || this.meta.current_page === 1) {
                    return;
                }

                return this.meta.current_page - 1;
            },
            paginatonCount() {
                if (! this.meta) {
                    return;
                }

                const { current_page, last_page } = this.meta;

                return `${current_page} of ${last_page}`;
            },
        },
        beforeRouteEnter (to, from, next) {
            getNews(to.params.categoryId, to.query.page, (err, data) => {
                next(vm => vm.setData(err, data),);
            });

        },
        beforeRouteUpdate (to, from, next) {
            this.news = this.meta = null;
            getNews(to.params.categoryId, to.query.page, (err, data) => {
                this.setData(err, data);
                next();
            });
        },
        methods: {
            goToNext() {
                this.$router.push({
                    name: 'categories.news.index',
                    query: {
                        page: `${this.nextPage}`,
                    },
                }).catch(()=>{});
            },
            goToPrev() {
                this.$router.push({
                    name: 'categories.news.index',
                    query: {
                        page: `${this.prevPage}`,
                    }
                }).catch(()=>{});
            },
            setData(err, data) {
                if (err) {
                    this.error = err.toString();
                } else {
                    this.news = data.data;
                    this.meta = data;
                }
            },
        }
    }
</script>

<style scoped>

</style>
