<template>

</template>

<script>
    export default {
        name: "Cookie",
        methods: {
            setCookie(name, value, daysToLive) {
                let cookie = name + "=" + encodeURIComponent(value);
                if (typeof daysToLive === "number") {
                    cookie += "; max-age=" + (daysToLive * 24 * 60 * 60);
                    document.cookie = cookie;
                }
            },
            getCookie(name) {
                let cookieArr = document.cookie.split(";");
                for(let i = 0; i < cookieArr.length; i++) {
                    let cookiePair = cookieArr[i].split("=");
                    if(name === cookiePair[0].trim()) {
                        return decodeURIComponent(cookiePair[1]);
                    }
                }
                return null;
            }
        }
    }
</script>

<style scoped>

</style>
