<template>

    <div class="my-3">
        <h2 class="mt-5">Article</h2>

        <div class="loading" v-if="loading">
            Loading...
        </div>

        <div v-if="news" class="card mb-3">
<!--            <img class="card-img-top" src="..." alt="Card image cap">-->
            <div class="card-body">
                <h5 class="card-title">{{ news.title }}</h5>
                <p class="card-text">{{ news.body }}</p>
                <p class="card-text"><small class="text-muted">{{ news.published_at }}</small></p>
            </div>
            <div class="card-footer">
                <small class="text-muted" v-if="news.category">
                    CATEGORY:
                    <router-link :to="{ name: 'categories.news.index', params: { categoryId: news.category.hashId }}"><strong>{{ news.category.title }}</strong></router-link>
                </small> |
                <small class="text-muted" v-if="news.tags">
                    TAGS:
                    <span v-for="tag in news.tags">
                    {{ tag.slug }},
                </span>
                </small>
            </div>
        </div>

        <div v-if="error" class="error">
            {{ error }}
        </div>
    </div>
</template>

<script>
    export default {
        name: "NewsShow",
        data() {
            return {
                loading: false,
                news: null,
                error: null,
            };
        },
        created() {
            this.fetchData();
        },
        methods: {
            fetchData() {
                const vm = this,
                    fetchedId = vm.$route.params.externalUrl;
                vm.error = vm.news = null;
                vm.loading = true;
                axios
                    .get('/api/v1/' + fetchedId)
                    .then(response => {
                        vm.loading = false;
                        vm.news = response.data;
                    }).catch(error => {
                        vm.loading = false;
                        vm.error = error.response.data.message || error.message;
                    });
            }
        }
    }
</script>

<style scoped>

</style>
