<template>
    <div id="trumbowyg-demo">
        hi
    </div>
</template>

<script>
    import $ from 'jquery';
    import d from trum
    export default {
        name: "TextEditorComponent",
        mounted(): {
            $('#trumbowyg-demo').trumbowyg();
        },
    }
</script>

<style scoped>

</style>
