<template>
    <a :class="className" :title="label" @click.prevent="action" href="#">
        {{ label }}
    </a>
</template>

<script>
    import Swal from 'sweetalert2';
    import axios from 'axios';

    export default {
        props: {
            endpoint: {
                type: String,
                required: true,
            },
            method: {
                type: String,
                default: 'post',
            },
            redirectAfter: {
                type: String,
            },
            label: {
                type: String,
            },
            className: {
                type: String,
                default: 'text-danger'
            },
            title: {
                type: String,
                default: 'Confirmation',
            },
            text: {
                type: String,
                default: 'Are you sure?',
            },
            confirmText: {
                type: String,
                default: 'confirm',
            },
            cancelText: {
                type: String,
                default: 'cancel',
            },
            successTitle: {
                type: String,
                default: 'Success',
            },
            successText: {
                type: String,
                default: 'Action done successfully',
            },
            failedTitle: {
                type: String,
                default: 'error!',
            },
            failedText: {
                type: String,
                default: 'Connection error! retry again',
            },
        },

        methods: {
            action() {
                const vm = this;

                Swal.fire({
                    title: this.title,
                    text: this.text,
                    type: 'warning',
                    showCancelButton: true,
                    showCloseButton: true,
                    confirmButtonColor: '#35a250',
                    cancelButtonColor: '#d33',
                    confirmButtonText: this.confirmText,
                    cancelButtonText: this.cancelText
                }).then((result) => {
                    if (result.value) {
                        const promise = this.method === 'delete' ?
                            axios.delete(vm.endpoint) :
                            axios.post(vm.endpoint);

                        promise.then(async response => {
                            await Swal.fire({
                                title: vm.successTitle,
                                text: vm.successText,
                                type: 'success',
                            });

                            if (vm.redirectAfter) {
                                window.location.href = vm.redirectAfter;
                            } else {
                                location.reload();
                            }
                        }).catch(error => {
                                if (error.response.status === 403) {
                                    Swal.fire({
                                        title: error.response.statusText,
                                        text: error.response.data.message,
                                        type: 'error',
                                    });
                                } else {
                                    Swal.fire({
                                        title: vm.failedTitle,
                                        text: vm.failedText,
                                        type: 'error',
                                    });
                                }
                            });
                    }
                });
            }
        }

    }
</script>

<style scoped>

</style>
