<template>
    <action-button
        method="delete"
        :class-name="className"
        :endpoint="endpoint"
        :label="label"
        :text="text"
        :redirect-after="redirectAfter"
        :confirm-text="confirmText"
        :success-text="successText"
        :success-title="successTitle"
    />
</template>

<script>
    import ActionButton from './ActionButtonComponent';

    export default {
        components: {
            ActionButton
        },
        props: {
            endpoint: {
                type: String,
                required: true
            },
            redirectAfter: {
                type: String
            },
            label: {
                type: String
            },
            text: {
                type: String
            },
            className: {
                type: String,
                default: 'text-danger'
            },
            confirmText: {
                type: String,
                default: 'Yes, Delete it!'
            },
            successTitle: {
                type: String,
                default: 'Deleted!!'
            },
            successText: {
                type: String,
                default: 'Deleted successfully!'
            },
        },
    }
</script>

<style scoped>

</style>
